$side-nav-background: #343957;
$side-nav-text-color: #BDBDC7;
$side-nav-hover-color: linear-gradient(to right, #5772FE , #6D85FB);

.mainpage {
  position: relative;
}

.menu-button {
  position: absolute;
  top: 0.4em;
  left: 1em;
  background: transparent;
  border: 0;
  transition: transform ease-out 250ms;
  cursor: pointer;
  font-size: 2rem;  
}

.nav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 80%;
  z-index: 1000;
  
  transform: translateX(-100%);
  transition: transform ease-out 250ms;
}

.nav ul {
  margin: 0;
  padding: 0;
  height: 100vh;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: stretch;
  background: $side-nav-background;
  
}

.nav li {
//   &:not(:last-of-type) {
//     border-bottom: 1px solid darkblue;
//   }
  text-align: center;
  i{
    padding-right: 1em
  }
}

.nav li:hover {
  background: $side-nav-hover-color;
  a{
    color: white;
  }
  
}

.nav a {
  display: inline-block;
  font-family: sans-serif;
  font-size: 0.85rem;
  color: $side-nav-text-color;
  text-decoration: none;
  padding: calc(100vh/25) 0;
  line-height: 0;
  width: 100%;
}

.close-icon {
  display: none;
}

.nav-is-open {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
  .nav {
    transform: translateX(0);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  }
  .container-all {
    transform: translateX(20%);
  }
  .close-icon {
    display: block;
  }
  .open-icon {
    display: none;
  }
    .menu-button {
        transform: translateX(-70%);
    }
}

.container-all {
  transition: transform ease-out 250ms;
}

::-webkit-scrollbar {
    width: 0px;
  }

.navbar-main{
  max-width: 81vw;
}
.navbar-top{
  width: 77%;
  transition: all;
}