.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 7vh;
  padding: 0.5rem 2rem;
  margin-bottom: 1rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  a {
    text-decoration: none;

    &:hover {
      color: black;
    }
  }
}

.navigation {
  list-style: none;
  padding: 0;
  margin: 0;
}
section {
  .container {
    max-width: 100rem;
    margin-inline: auto;
    padding-inline: 2rem;
  }

  .product-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  }

  .card {
    aspect-ratio: 1 / 1.5;
  }
  .card-title {
    font-size: 1.25rem;
    line-height: 1.1;
    color: firebrick;
  }
  .card-price {
    font-size: 1.75rem;
  }
  .card-content {
    background: white;
    align-self: end;
    margin: 0.5rem 0.5rem 2rem;
    padding: 0.5rem;
    box-shadow: 0 0.25rem 1rem rgb(0 0 0 / 0.1);
  }
  img,
  picture {
    max-width: 100%;
    display: block;
  }
  .card-img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
  }
  .stacked {
    display: grid;
  }
  .stacked > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  @media (min-width: 60em) {
    .card-img {
      aspect-ratio: 1 / 1;
    }
    .card.featured {
      grid-row: span 2;
      grid-column: span 2;
    }
    .card.featured.card-img {
      aspect-ratio: 1 / 1.25;
    }
  }
}
