$color:#343957;
.Back{
        background-color: #EFEFEF;
};
#submit {
    background-color: $color ;
}
#submit:hover{
    background-color: #bdbdc7;
}
#margin{
    margin-top: 20px;
    
}
#Appbar{
    background-color: $color;
}
.copyright{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}
.well{
    left: 55%;
    transform: translateX(-70%);
}